# Prepare Chicago Crime Data for a GitHub Repository

- Original Notebook Source: https://github.com/coding-dojo-data-science/preparing-chicago-crime-data
- Updated 11/17/22

>- This notebook will process a "Crimes - 2001 to Preset.csv" crime file in your Downloads folder and save it as smaller .csv's in a new "Data/Chicago/" folder inside this notebook's folder/repo.

# INSTRUCTIONS

- 1) Go to the Chicago Data Portal's page for ["Crimes - 2001 to Preset"](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-Present/ijzp-q8t2).

- 2) Click on the Export button on the top right and select CSV. 
    - Save the file to your Downloads folder instead of your repository. **The file is too big for a repository.**
    
    
    
- 3) Wait for the full file to download. 
    - It is very large (over >1.7GB and may take several minutes to fully download.)
    
    
- 4) Once the download is complete, change `RAW_FILE` variable below to match the filepath to the downloaded file.

## ðŸš¨ Set the correct `RAW_FILE` path

- The cell below will attempt to check your Downloads folder for any file with a name that contains "Crimes_-_2001_to_Present".
    - If you know the file path already, you can skip the next cell and just manually set the RAW_FILE variable in the following code cell.

In [1]:
## Run the cell below to attempt to programmatically find your crime file
import os,glob

## Getting the home folder from environment variables
home_folder = os.environ['HOME']
# print("- Your Home Folder is: " + home_folder)

## Check for downloads folder
if 'Downloads' in os.listdir(home_folder):
    
    
    # Print the Downloads folder path
    dl_folder = os.path.abspath(os.path.join(home_folder,'Downloads'))
    print(f"- Your Downloads folder is '{dl_folder}/'\n")
    
    ## checking for crime files using glob
    crime_files = sorted(glob.glob(dl_folder+'/**/Crimes_-_2001_to_Present*',recursive=True))
    
    # If more than 
    if len(crime_files)==1:
        RAW_FILE = crime_files[0]
        
    elif len(crime_files)>1:
        print('[i] The following files were found:')
        
        for i, fname in enumerate(crime_files):
            print(f"\tcrime_files[{i}] = '{fname}'")
        print(f'\n- Please fill in the RAW_FILE variable in the code cell below with the correct filepath.')

else:
    print(f'[!] Could not programmatically find your downloads folder.')
    print('- Try using Finder (on Mac) or File Explorer (Windows) to navigate to your Downloads folder.')

- Your Downloads folder is 'C:\Users\miran\Downloads/'

[i] The following files were found:
	crime_files[0] = 'C:\Users\miran\Downloads\Crimes_-_2001_to_Present (1).csv'
	crime_files[1] = 'C:\Users\miran\Downloads\Crimes_-_2001_to_Present (2).csv'
	crime_files[2] = 'C:\Users\miran\Downloads\Crimes_-_2001_to_Present.csv'

- Please fill in the RAW_FILE variable in the code cell below with the correct filepath.

In [2]:
## (Required) MAKE SURE TO CHANGE THIS VARIABLE TO MATCH YOUR LOCAL FILE NAME
RAW_FILE = (r"C:/Users/miran/Downloads/Crimes_-_2001_to_Present.csv") #(or slice correct index from the crime_files list)

if RAW_FILE == (r"C:\Users\miran\Downloads\Crimes_-_2001_to_Present.csv"):
	raise Exception("You must update the RAW_FILE variable to match your local filepath.")
	
RAW_FILE

'C:/Users/miran/Downloads/Crimes_-_2001_to_Present.csv'

In [3]:
## (Optional) SET THE FOLDER FOR FINAL FILES
OUTPUT_FOLDER = 'Data/Chicago/'
os.makedirs(OUTPUT_FOLDER, exist_ok=True)

# ðŸ”„ Full Workflow

- Now that your RAW_FILE variable is set either:
    - On the toolbar, click on the Kernel menu > "Restart and Run All".
    - OR click on this cell first, then on the toolbar click on the "Cell" menu > "Run All Below"

In [4]:
import pandas as pd
pd.set_option('display.max_columns', 100)
pd.set_option('display.float_format',lambda x: f"{x:,.2f}")

In [5]:
chicago_full = pd.read_csv(RAW_FILE)
chicago_full

C:\Users\miran\AppData\Local\Temp\ipykernel_91512\346346930.py:1: DtypeWarning: Columns (0,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  chicago_full = pd.read_csv(RAW_FILE)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,631.00,6.00,8.00,44.00,06,NaN,NaN,"2,018.00",04/06/2019 04:04:43 PM,NaN,NaN,NaN
1,11645836,JC212333,05/01/2016 12:25:00 AM,055XX S ROCKWELL ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,NaN,False,False,824.00,8.00,15.00,63.00,11,NaN,NaN,"2,016.00",04/06/2019 04:04:43 PM,NaN,NaN,NaN
2,11449702,JB373031,07/31/2018 01:30:00 PM,009XX E HYDE PARK BLVD,2024,NARCOTICS,POSS: HEROIN(WHITE),STREET,True,False,233.00,2.00,5.00,41.00,18,NaN,NaN,"2,018.00",04/09/2019 04:24:58 PM,NaN,NaN,NaN
3,11643334,JC209972,12/19/2018 04:30:00 PM,056XX W WELLINGTON AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,"2,514.00",25.00,31.00,19.00,14,NaN,NaN,"2,018.00",04/04/2019 04:16:11 PM,NaN,NaN,NaN
4,11645527,JC212744,02/02/2015 10:00:00 AM,069XX W ARCHER AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,811.00,8.00,23.00,56.00,11,NaN,NaN,"2,015.00",04/06/2019 04:04:43 PM,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2813740,2126322,HH361887,05/10/2002 09:45:00 AM,064XX S GREEN ST,0460,BATTERY,SI{,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2813741,"""error"" : true",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2813742,"""message"" : ""Internal error""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2813743,"""status"" : 500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2813744,},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# explicitly setting the format to speed up pd.to_datetime
date_format = "%m/%d/%Y %H:%M:%S %p"


### Demonstrating/testing date_format
example = chicago_full.loc[0,'Date']
display(example)
pd.to_datetime(example,format=date_format)

'09/01/2018 12:01:00 AM'

Timestamp('2018-09-01 12:01:00')

In [7]:
# this cell can take up to 1 min to run
chicago_full['Datetime'] = pd.to_datetime(chicago_full['Date'], format=date_format)
chicago_full = chicago_full.sort_values('Datetime')
chicago_full = chicago_full.set_index('Datetime')
chicago_full

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
Datetime,,,,,,,,,,,,,,,,,,,,,,
2001-01-01 01:00:00,1311049,G000125,01/01/2001 01:00:00 AM,032XX W IRVING PARK RD,1310,CRIMINAL DAMAGE,TO PROPERTY,OTHER,False,False,"1,724.00",17.00,NaN,NaN,14,"1,153,841.00","1,926,448.00","2,001.00",08/17/2015 03:03:40 PM,41.95,-87.71,"(41.954010014, -87.709857541)"
2001-01-01 01:00:00,1315987,G001152,01/01/2001 01:00:00 AM,009XX N HUDSON AV,1310,CRIMINAL DAMAGE,TO PROPERTY,CHA APARTMENT,False,False,"1,823.00",18.00,NaN,NaN,14,"1,173,036.00","1,906,862.00","2,001.00",08/17/2015 03:03:40 PM,41.90,-87.64,"(41.899860332, -87.63987705)"
2001-01-01 01:00:00,1310288,G000636,01/01/2001 01:00:00 AM,075XX S UNION AV,1310,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,621.00,6.00,NaN,NaN,14,"1,172,985.00","1,854,673.00","2,001.00",08/17/2015 03:03:40 PM,41.76,-87.64,"(41.756650158, -87.641607815)"
2001-01-01 01:00:00,1324743,G001083,01/01/2001 01:00:00 PM,005XX E 63 ST,1626,GAMBLING,ILLEGAL ILL LOTTERY,STREET,True,False,313.00,3.00,NaN,NaN,19,"1,180,999.00","1,863,398.00","2,001.00",08/17/2015 03:03:40 PM,41.78,-87.61,"(41.780411868, -87.611970027)"
2001-01-01 01:00:00,1315458,G005079,01/01/2001 01:00:00 AM,016XX N HUMBOLDT BL,0820,THEFT,$500 AND UNDER,STREET,False,False,"1,421.00",14.00,NaN,NaN,06,"1,156,090.00","1,910,543.00","2,001.00",08/17/2015 03:03:40 PM,41.91,-87.70,"(41.910320325, -87.702020443)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-02 12:57:00,13127937,JG326034,07/02/2023 12:57:00 PM,009XX W LAKESIDE PL,1152,DECEPTIVE PRACTICE,ILLEGAL USE CASH CARD,OTHER (SPECIFY),False,False,"1,914.00",19.00,46.00,3.00,11,"1,169,167.00","1,931,739.00","2,023.00",07/09/2023 04:51:53 PM,41.97,-87.65,"(41.968208915, -87.653363136)"
NaT,"""error"" : true",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaT,"""message"" : ""Internal error""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaT,"""status"" : 500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaT,},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
(chicago_full.isna().sum()/len(chicago_full)).round(2)

ID                     0.00
Case Number            0.00
Date                   0.00
Block                  0.00
IUCR                   0.00
Primary Type           0.00
Description            0.00
Location Description   0.00
Arrest                 0.00
Domestic               0.00
Beat                   0.00
District               0.00
Ward                   0.22
Community Area         0.22
FBI Code               0.00
X Coordinate           0.03
Y Coordinate           0.03
Year                   0.00
Updated On             0.00
Latitude               0.03
Longitude              0.03
Location               0.03
dtype: float64

In [9]:
chicago_full.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2813745 entries, 2001-01-01 01:00:00 to NaT
Data columns (total 22 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    object
 1   Case Number           object
 2   Date                  object
 3   Block                 object
 4   IUCR                  object
 5   Primary Type          object
 6   Description           object
 7   Location Description  object
 8   Arrest                object
 9   Domestic              object
 10  Beat                  float64
 11  District              float64
 12  Ward                  float64
 13  Community Area        float64
 14  FBI Code              object
 15  X Coordinate          float64
 16  Y Coordinate          float64
 17  Year                  float64
 18  Updated On            object
 19  Latitude              float64
 20  Longitude             float64
 21  Location              object
dtypes: float64(9), object(13)
memory usage: 493.7+ MB

## Separate the Full Dataset by Years

In [16]:
# save the years for every crime
chicago_full["Year"] = chicago_full.index.year
chicago_full["Year"] = chicago_full["Year"].astype(str)
chicago_full["Year"].value_counts()

2001.0    483231
2016.0    269027
2017.0    268422
2018.0    268213
2019.0    260776
2022.0    237955
2015.0    218099
2020.0    211370
2021.0    207893
2002.0    170621
2023.0    124638
2008.0     12367
2009.0     11725
2003.0      9601
2005.0      9041
2006.0      7892
2004.0      7712
2007.0      6715
2014.0      6357
2010.0      5674
2012.0      5522
2013.0      5472
2011.0      5418
nan            4
Name: Year, dtype: int64

In [17]:
## Dropping unneeded columns to reduce file size
drop_cols = ["X Coordinate","Y Coordinate", "Community Area","FBI Code",
             "Case Number","Updated On",'Block','Location','IUCR']

In [18]:
# save final df
chicago_final = chicago_full.drop(columns=drop_cols).sort_index()#.reset_index()
chicago_final

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Year,Latitude,Longitude
Datetime,,,,,,,,,,,,,
2001-01-01 01:00:00,1311049,01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO PROPERTY,OTHER,False,False,"1,724.00",17.00,NaN,2001.0,41.95,-87.71
2001-01-01 01:00:00,1310741,01/01/2001 01:00:00 PM,BATTERY,SIMPLE,RESIDENCE PORCH/HALLWAY,False,False,"1,722.00",17.00,NaN,2001.0,41.97,-87.74
2001-01-01 01:00:00,1310717,01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,"2,424.00",24.00,NaN,2001.0,42.01,-87.68
2001-01-01 01:00:00,1310873,01/01/2001 01:00:00 PM,OTHER OFFENSE,TELEPHONE THREAT,RESIDENCE,False,True,"1,522.00",15.00,NaN,2001.0,41.87,-87.76
2001-01-01 01:00:00,1315701,01/01/2001 01:00:00 PM,BATTERY,AGGRAVATED: HANDGUN,RESIDENCE,False,False,"1,132.00",11.00,NaN,2001.0,41.87,-87.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-02 12:57:00,13127937,07/02/2023 12:57:00 PM,DECEPTIVE PRACTICE,ILLEGAL USE CASH CARD,OTHER (SPECIFY),False,False,"1,914.00",19.00,46.00,2023.0,41.97,-87.65
NaT,"""error"" : true",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN
NaT,"""message"" : ""Internal error""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN
NaT,"""status"" : 500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN
NaT,},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,NaN

In [19]:
chicago_final.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2813745 entries, 2001-01-01 01:00:00 to NaT
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    object
 1   Date                  object
 2   Primary Type          object
 3   Description           object
 4   Location Description  object
 5   Arrest                object
 6   Domestic              object
 7   Beat                  float64
 8   District              float64
 9   Ward                  float64
 10  Year                  object
 11  Latitude              float64
 12  Longitude             float64
dtypes: float64(5), object(8)
memory usage: 300.5+ MB

In [20]:
chicago_final.memory_usage(deep=True).astype(float)

Index                   22,509,960.00
ID                     102,091,142.00
Date                   222,285,667.00
Primary Type           189,222,453.00
Description            206,155,598.00
Location Description   192,167,417.00
Arrest                  92,404,764.00
Domestic                91,829,488.00
Beat                    22,509,960.00
District                22,509,960.00
Ward                    22,509,960.00
Year                   177,265,923.00
Latitude                22,509,960.00
Longitude               22,509,960.00
dtype: float64

In [21]:
# unique # of year bins
year_bins = chicago_final['Year'].astype(str).unique()
year_bins

array(['2001.0', '2002.0', '2003.0', '2004.0', '2005.0', '2006.0',
       '2007.0', '2008.0', '2009.0', '2010.0', '2011.0', '2012.0',
       '2013.0', '2014.0', '2015.0', '2016.0', '2017.0', '2018.0',
       '2019.0', '2020.0', '2021.0', '2022.0', '2023.0', 'nan'],
      dtype=object)

In [22]:
FINAL_DROP = ['Datetime','Year','Location Description']

In [29]:
## set save location 

os.makedirs(OUTPUT_FOLDER, exist_ok=True)
print(f"[i] Saving .csv's to {OUTPUT_FOLDER}")
## loop through years
for year in year_bins:
    
    ## save temp slices of dfs to save.
    temp_df = chicago_final.loc[year]
    temp_df = temp_df.reset_index(drop=False)
    temp_df = temp_df.drop(columns=FINAL_DROP)

    # save as csv to output folder
    fname_temp = f"{OUTPUT_FOLDER}Chicago-Crime_{year}.csv"#.gz
    temp_df.to_csv(fname_temp,index=False)

    print(f"- Succesfully saved {fname_temp}")

[i] Saving .csv's to Data/Chicago/

KeyError: '2001.0'

In [ ]:
saved_files = sorted(glob.glob(OUTPUT_FOLDER+'*.*csv'))
saved_files

In [ ]:
## create a README.txt for the zip files
readme = """Source URL: 
- https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-Present/ijzp-q8t2
- Filtered for years 2000-Present.

Downloaded 07/18/2022
- Files are split into 1 year per file.

EXAMPLE USAGE:
>> import glob
>> import pandas as pd
>> folder = "Data/Chicago/"
>> crime_files = sorted(glob.glob(folder+"*.csv"))
>> df = pd.concat([pd.read_csv(f) for f in crime_files])
"""
print(readme)


with open(f"{OUTPUT_FOLDER}README.txt",'w') as f:
    f.write(readme)

## Confirmation

- Follow the example usage above to test if your files were created successfully.

In [ ]:
# get list of files from folder
crime_files = sorted(glob.glob(OUTPUT_FOLDER+"*.csv"))
df = pd.concat([pd.read_csv(f) for f in crime_files])
df

In [ ]:
years = df['Date'].map(lambda x: x.split()[0].split('/')[-1])
years.value_counts().sort_index()

## Summary

- The chicago crime dataset has now been saved to your repository as csv files. 
- You should save your notebook, commit your work and push to GitHub using GitHub desktop.

# 1) Comparing Police Districts:

### Which district has the most crimes? Which has the least?

In [ ]:
crime = df.copy()
crime.head(3)

In [ ]:
most_crime = crime['District'].idxmax
most_crime

In [ ]:
least_crime = crime['District'].idxmin
least_crime

# 2) Crimes Across the Years:
### Is the total number of crimes increasing or decreasing across the years?
### Are there any individual crimes that are doing the opposite (e.g decreasing when overall crime is increasing or vice-versa)?

In [ ]:
## Engineering Features using components of the date/time
crime['Year']  = crime.index.year

In [ ]:
crime['Year'].value_counts().sort_index(ascending = False).head(15)